@{
    ViewBag.Title = "Downloads";
    Layout = "~/Views/Shared/_FinanceLayout.cshtml";
}



@model List<string>

<div style="margin-left:10%">
    <h1>Downloads</h1>
    <table width="300" height="175">
        <tr>
            <th><h3>Documents</h3></th>
            <th><h3>Link</h3></th>
        </tr>
        @for (var i = 0; i <= Model.Count - 1; i++)
        {
            <tr>
                <td><strong>@Model[i].ToString()</strong></td>
                <td>@Html.ActionLink("Download","Download", new { ImageName = @Model[i].ToString() }) </td>
            </tr>
        }
    </table>
</div> 