@model IEnumerable<DenimSACCOS.Models.Gallery>

@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_FinanceLayout.cshtml";
}

<h2>Gallery</h2>
<div class="container">

    <div class="row gallery">
        @{
            int b = 0;
        }
        @foreach (var item in Model)
            {
                b++;
            <div class="col-sm-2 wowload fadeInUp"><a href="@Html.DisplayFor(modelItem => item.ImagePath)" class="gallery-image" data-gallery><img src='@Html.DisplayFor(modelItem => item.ImagePath)' class="img-responsive"></a></div>

        }
    </div>


</div>
