
@{
    ViewBag.Title = "Loan";
    Layout = "~/Views/Shared/_FinanceLayout.cshtml";
}

<div class="col-lg-1"></div>
    <div class="col-lg-11">
        <h2>Loan</h2>

        <strong>Loans and Advance</strong>
        <br>
        Medi/um and Long-Term (Industrial, Trading etc.)
        Hire Purchase
        Housing Loan
        Loan against Securities & Fixed Deposit
        Real Estate Loan
        Deprived Sector Loan
        Education Loan

        Reliable Flexi/Personal Loan

        Gold Loan
        OverDraft Loan
        <br>
    </div>

