
@{
    ViewBag.Title = "Remittance";
    Layout = "~/Views/Shared/_FinanceLayout.cshtml";
}
<div class="col-md-1">
</div>
<div class="col-md-11">
    <h2>Remittance Services</h2>
    <strong>Remittance Schemes</strong>
<br>
    Remittance Services via our own inhouse Remittance software (Reliable Remit). Money can be sent and paid from more than 2600 payout agents (for more detail visit our website: www.reliableremit.com).
</div>
