
@{
    ViewBag.Title = "Saving";
    Layout = "~/Views/Shared/_FinanceLayout.cshtml";
}
<div class="col-lg-1"></div>
    <div class="col-lg-11">
        <h2>Saving</h2>

        <strong>Deposit & Saving Schemes</strong>
        <br>
        Time Deposit Account ranging from 3 Months and above
        Normal Saving, Corporate Saving, Special Saving Deposit
        Fixed Deposit
        <br>
    </div>
