
@{
    ViewBag.Title = "Index";

}

<center><h2>Ammortization Table</h2></center>

<div class="box-body table-responsive " id='datatable'>
    <center>
        @Html.Raw(@ViewBag.AmmorTable)
    </center>
</div>
