
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FinanceLayout.cshtml";
}
<script src="~/Scripts/index.js"></script>
<link href="~/Scripts/style.css" rel="stylesheet" />
<h2>Admin Page</h2>

<div id="login">
    <h1 id="header">Login</h1>
    <form>
        <input type="text" placeholder="Username" id="username"><br />
        <input type="password" placeholder="Password"><br />
        <input type="button" value="Submit" id="button">
    </form>
</div>